- provide(:title, "Home")
.division-about-us{style: "background-color: lavender"}
  .row.maintain-padding.text-center{style: "margin: 0px;"}
    %br
    %br
    %h3 ABOUT US
    %br
    .col-sm-8.about-us
      %p Established in 1984, Mini land English Secondary School offers excellent education to students of diverse cultures. We emphasizes the social, emotional, physical, intellectual development of each child and strive to instill high standards for academic integrity, and leadership in our students. Through our programs, students are given the skills and knowledge to be effective members of our school community and a global society.
      %p Our school offers modern sports facilities, state-of-the-start, Science lab, computer labs and a great faculty of ambitious teachers ready to give the best school experience.
      %p.italic MiniLand English Secondary School , where “Success, Success, Success!” is the backbone of our learning approach!
    .col-sm-4.founders
      .founder-pic
        = image_tag "founder.jpg", id: "founders-pic"
      %span.italic Mr. Lal babu Prasad Patel
      %br
      %span.italic Founder/Principal
  %br
  %br
  %br
.division-recent-activities
  .row.maintain-padding.text-center{style: "margin: 0px;"}
    %br
    %br
    %h3 Recent Activities
    %br
    .recent-activities
      %p Established in 1984, Mini land English Secondary School offers excellent education to students of diverse cultures. We emphasizes the social, emotional, physical, intellectual development of each child and strive to instill high standards for academic integrity, and leadership in our students. Through our programs, students are given the skills and knowledge to be effective members of our school community and a global society.
      %p Our school offers modern sports facilities, state-of-the-start, Science lab, computer labs and a great faculty of ambitious teachers ready to give the best school experience.
      %p MiniLand English School , where “Success, Success, Success!” is the backbone of our learning approach!
  %br
  %br
  %br
.division-announcements
  .row.maintain-padding.text-center{style: "margin: 0px;"}
    %br
    %br
    %h3 Announcements
    %br
    .announcements
      %p Established in 1984, Mini land English Secondary School offers excellent education to students of diverse cultures. We emphasizes the social, emotional, physical, intellectual development of each child and strive to instill high standards for academic integrity, and leadership in our students. Through our programs, students are given the skills and knowledge to be effective members of our school community and a global society.
      %p Our school offers modern sports facilities, state-of-the-start, Science lab, computer labs and a great faculty of ambitious teachers ready to give the best school experience.
      %p MiniLand English School , where “Success, Success, Success!” is the backbone of our learning approach!
  %br
  %br
  %br
