.maintain-padding{
  padding-left: 15px;
  padding-right:15px;
}

#founders-pic{
  height: 100px;
  width: 100px;
  box-shadow: 0 0 5px;
}

.founder-pic{
  padding: 10px;
}

.italic{
  font-style: italic;
}

.green-form-page{
  background-color: #76b852;
  margin: 0px !important;
}

.init-form{
  background-color: white;
  padding: 25px;
  margin-top: 5%;
  border-radius: 5px;
  margin-bottom: 5%;
}

.init-form-header{
  h3{
    margin-top: 0px;
    margin-bottom: 25px ;
  }
}

#error_explanation{
  color: red;
}