.row.footer
  .col-md-12.text-center
    %h4{style: "padding: 0px; margin-bottom: 0px;"} Mini Land English Secondary School
    %span Panitanki-10, Birgunj
    %br
    %span Tel: 051-525530 ,
    %span Mobile: 9855025034
    %br
    %span Site Designed and Maintained by 
    = link_to "Shreenandan Kumar", "https://in.linkedin.com/in/shreenandan-kumar-b0515964"

  